[data-theme="dark"] {
  --bs-pink: #dc3dcb;
  --bs-green: #19f5aa;
  --bs-teal: #06a0b2;
  --bs-cyan: #06a0b2;
  --bs-secondary: #dc3dcb;
  --bs-success: #19f5aa;
  --bs-info: #06a0b2;
  --bs-dark: #27262e;
  --bs-secondary-rgb: 220, 61, 203;
  --bs-success-rgb: 25, 245, 170;
  --bs-info-rgb: 6, 160, 178;
  --bs-dark-rgb: 39, 38, 46;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 45, 44, 56;
  --bs-body-color: #fff;
  --bs-body-bg: #2d2c38;
  --bs-code-color: #dc3dcb;
}

[data-theme="dark"] caption {
  color: #b0bdd3;
}

[data-theme="dark"] .img-thumbnail {
  background-color: #2d2c38;
}

[data-theme="dark"] .table-secondary {
  --bs-table-color: #000;
  --bs-table-bg: #f8d8f5;
  --bs-table-border-color: #dfc2dd;
  --bs-table-striped-bg: #eccde9;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2dd;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c8e3;
  --bs-table-hover-color: #000;
}

[data-theme="dark"] .table-success {
  --bs-table-color: #000;
  --bs-table-bg: #d1fdee;
  --bs-table-border-color: #bce4d6;
  --bs-table-striped-bg: #c7f0e2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bce4d6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1eadc;
  --bs-table-hover-color: #000;
}

[data-theme="dark"] .table-info {
  --bs-table-color: #000;
  --bs-table-bg: #cdecf0;
  --bs-table-border-color: #b9d4d8;
  --bs-table-striped-bg: #c3e0e4;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #b9d4d8;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bedade;
  --bs-table-hover-color: #000;
}

[data-theme="dark"] .table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #27262e;
  --bs-table-border-color: #3d3c43;
  --bs-table-striped-bg: #323138;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #3d3c43;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #37363e;
}

[data-theme="dark"] .form-text {
  color: #b0bdd3;
}

[data-theme="dark"] .form-control {
  color: #2d2c38;
}

[data-theme="dark"] .form-control:focus {
  color: #2d2c38;
}

[data-theme="dark"] .form-control::-webkit-file-upload-button {
  color: #2d2c38;
}

[data-theme="dark"] .form-control::file-selector-button {
  color: #2d2c38;
}

[data-theme="dark"] .form-control-plaintext {
  color: #fff;
}

[data-theme="dark"] .form-select {
  color: #2d2c38;
}

[data-theme="dark"] .form-select:-moz-focusring {
  text-shadow: 0 0 0 #2d2c38;
}

[data-theme="dark"] .form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #2d2c38, 0 0 0 .25rem rgba(55, 99, 244, .25);
}

[data-theme="dark"] .form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #2d2c38, 0 0 0 .25rem rgba(55, 99, 244, .25);
}

[data-theme="dark"] .input-group-text {
  color: #2d2c38;
}

[data-theme="dark"] .valid-feedback {
  color: #19f5aa;
}

[data-theme="dark"] .valid-tooltip {
  color: #000;
  background-color: rgba(25, 245, 170, .9);
}

[data-theme="dark"] .was-validated .form-control:valid, .form-control.is-valid {
  border-color: #19f5aa;
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2319f5aa' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

[data-theme="dark"] .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #19f5aa;
  box-shadow: 0 0 0 .25rem rgba(25, 245, 170, .25);
}

[data-theme="dark"] .was-validated .form-select:valid, .form-select.is-valid {
  border-color: #19f5aa;
}

[data-theme="dark"] .was-validated .form-select:valid:not([multiple]):not([size]), [data-theme="dark"] .was-validated .form-select:valid:not([multiple])[size="1"], [data-theme="dark"] .form-select.is-valid:not([multiple]):not([size]), [data-theme="dark"] .form-select.is-valid:not([multiple])[size="1"] {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"), url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2319f5aa' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

[data-theme="dark"] .was-validated .form-select:valid:focus, [data-theme="dark"] .form-select.is-valid:focus {
  border-color: #19f5aa;
  box-shadow: 0 0 0 .25rem rgba(25, 245, 170, .25);
}

[data-theme="dark"] .was-validated .form-check-input:valid, [data-theme="dark"] .form-check-input.is-valid {
  border-color: #19f5aa;
}

[data-theme="dark"] .was-validated .form-check-input:valid:checked, [data-theme="dark"] .form-check-input.is-valid:checked {
  background-color: #19f5aa;
}

[data-theme="dark"] .was-validated .form-check-input:valid:focus, [data-theme="dark"] .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 .25rem rgba(25, 245, 170, .25);
}

[data-theme="dark"] .was-validated .form-check-input:valid ~ .form-check-label, [data-theme="dark"] .form-check-input.is-valid ~ .form-check-label {
  color: #19f5aa;
}

[data-theme="dark"] .btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #27262e;
  --bs-btn-border-color: #27262e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #47474d;
  --bs-btn-hover-border-color: #3d3c43;
  --bs-btn-focus-shadow-rgb: 71, 71, 77;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #525158;
  --bs-btn-active-border-color: #3d3c43;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #27262e;
  --bs-btn-disabled-border-color: #27262e;
}

[data-theme="dark"] .btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc3dcb;
  --bs-btn-border-color: #dc3dcb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb34ad;
  --bs-btn-hover-border-color: #b031a2;
  --bs-btn-focus-shadow-rgb: 225, 90, 211;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b031a2;
  --bs-btn-active-border-color: #a52e98;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3dcb;
  --bs-btn-disabled-border-color: #dc3dcb;
}

[data-theme="dark"] .btn-success {
  --bs-btn-color: #000;
  --bs-btn-bg: #19f5aa;
  --bs-btn-border-color: #19f5aa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #3cf7b7;
  --bs-btn-hover-border-color: #30f6b3;
  --bs-btn-focus-shadow-rgb: 21, 208, 145;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #47f7bb;
  --bs-btn-active-border-color: #30f6b3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #19f5aa;
  --bs-btn-disabled-border-color: #19f5aa;
}

[data-theme="dark"] .btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #06a0b2;
  --bs-btn-border-color: #06a0b2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #058897;
  --bs-btn-hover-border-color: #05808e;
  --bs-btn-focus-shadow-rgb: 43, 174, 190;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #05808e;
  --bs-btn-active-border-color: #057886;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #06a0b2;
  --bs-btn-disabled-border-color: #06a0b2;
}

[data-theme="dark"] .btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #27262e;
  --bs-btn-border-color: #27262e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #47474d;
  --bs-btn-hover-border-color: #3d3c43;
  --bs-btn-focus-shadow-rgb: 71, 71, 77;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #525158;
  --bs-btn-active-border-color: #3d3c43;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #27262e;
  --bs-btn-disabled-border-color: #27262e;
}

[data-theme="dark"] .btn-outline-secondary {
  --bs-btn-color: #dc3dcb;
  --bs-btn-border-color: #dc3dcb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc3dcb;
  --bs-btn-hover-border-color: #dc3dcb;
  --bs-btn-focus-shadow-rgb: 220, 61, 203;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc3dcb;
  --bs-btn-active-border-color: #dc3dcb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #dc3dcb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3dcb;
  --bs-gradient: none;
}

[data-theme="dark"] .btn-outline-success {
  --bs-btn-color: #19f5aa;
  --bs-btn-border-color: #19f5aa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #19f5aa;
  --bs-btn-hover-border-color: #19f5aa;
  --bs-btn-focus-shadow-rgb: 25, 245, 170;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #19f5aa;
  --bs-btn-active-border-color: #19f5aa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #19f5aa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #19f5aa;
  --bs-gradient: none;
}

[data-theme="dark"] .btn-outline-info {
  --bs-btn-color: #06a0b2;
  --bs-btn-border-color: #06a0b2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #06a0b2;
  --bs-btn-hover-border-color: #06a0b2;
  --bs-btn-focus-shadow-rgb: 6, 160, 178;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #06a0b2;
  --bs-btn-active-border-color: #06a0b2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #06a0b2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #06a0b2;
  --bs-gradient: none;
}

[data-theme="dark"] .btn-outline-dark {
  --bs-btn-color: #27262e;
  --bs-btn-border-color: #27262e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #27262e;
  --bs-btn-hover-border-color: #27262e;
  --bs-btn-focus-shadow-rgb: 39, 38, 46;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #27262e;
  --bs-btn-active-border-color: #27262e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #27262e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #27262e;
  --bs-gradient: none;
}

[data-theme="dark"] .dropdown-menu {
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-bg: #343a40;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #3763f4;
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-header-color: #adb5bd;
}

[data-theme="dark"] .nav-tabs {
  --bs-nav-tabs-link-active-bg: #2d2c38;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #2d2c38;
}

[data-theme="dark"] .accordion {
  --bs-accordion-color: #fff;
  --bs-accordion-bg: #2d2c38;
}

[data-theme="dark"] .alert-secondary {
  --bs-alert-color: #84257a;
  --bs-alert-bg: #f8d8f5;
  --bs-alert-border-color: #f5c5ef;
}

[data-theme="dark"] .alert-secondary .alert-link {
  color: #6a1e62;
}

[data-theme="dark"] .alert-success {
  --bs-alert-color: #0f9366;
  --bs-alert-bg: #d1fdee;
  --bs-alert-border-color: #bafce6;
}

[data-theme="dark"] .alert-success .alert-link {
  color: #0c7652;
}

[data-theme="dark"] .alert-info {
  --bs-alert-color: #04606b;
  --bs-alert-bg: #cdecf0;
  --bs-alert-border-color: #b4e3e8;
}

[data-theme="dark"] .alert-info .alert-link {
  color: #034d56;
}

[data-theme="dark"] .alert-dark {
  --bs-alert-color: #17171c;
  --bs-alert-bg: #d4d4d5;
  --bs-alert-border-color: #bebec0;
}

[data-theme="dark"] .alert-dark .alert-link {
  color: #121216;
}

[data-theme="dark"] .list-group {
  --bs-list-group-action-active-color: #fff;
}

[data-theme="dark"] .list-group-item-secondary {
  color: #84257a;
  background-color: #f8d8f5;
}

[data-theme="dark"] .list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: #84257a;
  background-color: #dfc2dd;
}

[data-theme="dark"] .list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #84257a;
  border-color: #84257a;
}

[data-theme="dark"] .list-group-item-success {
  color: #0f9366;
  background-color: #d1fdee;
}

[data-theme="dark"] .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
  color: #0f9366;
  background-color: #bce4d6;
}

[data-theme="dark"] .list-group-item-success.list-group-item-action.active {
  color: #fff;
  background-color: #0f9366;
  border-color: #0f9366;
}

[data-theme="dark"] .list-group-item-info {
  color: #04606b;
  background-color: #cdecf0;
}

[data-theme="dark"] .list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
  color: #04606b;
  background-color: #b9d4d8;
}

[data-theme="dark"] .list-group-item-info.list-group-item-action.active {
  color: #fff;
  background-color: #04606b;
  border-color: #04606b;
}

[data-theme="dark"] .list-group-item-dark {
  color: #17171c;
  background-color: #d4d4d5;
}

[data-theme="dark"] .list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
  color: #17171c;
  background-color: #bfbfc0;
}

[data-theme="dark"] .list-group-item-dark.list-group-item-action.active {
  color: #fff;
  background-color: #17171c;
  border-color: #17171c;
}

[data-theme="dark"] .popover {
  --bs-popover-body-color: #fff;
}

[data-theme="dark"] .text-bg-secondary {
  background-color: RGBA(220, 61, 203, var(--bs-bg-opacity, 1)) !important;
}

[data-theme="dark"] .text-bg-success {
  background-color: RGBA(25, 245, 170, var(--bs-bg-opacity, 1)) !important;
}

[data-theme="dark"] .text-bg-info {
  background-color: RGBA(6, 160, 178, var(--bs-bg-opacity, 1)) !important;
}

[data-theme="dark"] .text-bg-dark {
  background-color: RGBA(39, 38, 46, var(--bs-bg-opacity, 1)) !important;
}

[data-theme="dark"] .link-secondary {
  color: #dc3dcb !important;
}

[data-theme="dark"] .link-secondary:hover, .link-secondary:focus {
  color: #b031a2 !important;
}

[data-theme="dark"] .link-success {
  color: #19f5aa !important;
}

[data-theme="dark"] .link-success:hover, .link-success:focus {
  color: #47f7bb !important;
}

[data-theme="dark"] .link-info {
  color: #06a0b2 !important;
}

[data-theme="dark"] .link-info:hover, .link-info:focus {
  color: #05808e !important;
}

[data-theme="dark"] .link-dark {
  color: #27262e !important;
}

[data-theme="dark"] .link-dark:hover, .link-dark:focus {
  color: #1f1e25 !important;
}

[data-theme="dark"] .text-muted {
  color: #b0bdd3 !important;
}

[data-theme="dark"] a {
  color: #b0bdd3;
}

[data-theme="dark"] a:focus, [data-theme="dark"] a:hover {
  color: #fff;
}

[data-theme="dark"] .bg-primary-light {
  background: rgba(31, 80, 243, .3) !important;
}

[data-theme="dark"] .bg-secondary-light {
  background: rgba(216, 39, 197, .3) !important;
}

[data-theme="dark"] .bg-success-light {
  background: rgba(10, 234, 158, .3) !important;
}

[data-theme="dark"] .bg-info-light {
  background: rgba(5, 138, 153, .3) !important;
}

[data-theme="dark"] .bg-semi-white {
  background: rgba(255, 255, 255, .4) !important;
}

[data-theme="dark"] .card {
  background-color: #2d2c38;
}

[data-theme="dark"] footer ul li a {
  color: #b0bdd3;
}

[data-theme="dark"] .navbar {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-color: #2d2c38;
}

[data-theme="dark"] .bg-primary-gradient {
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

[data-theme="dark"] #mainNav {
  border-color: #2d2c38;
  background-color: #2d2c38;
}

@media (min-width: 992px) {
  [data-theme="dark"] #mainNav {
    border-color: #2d2c38;
    background-color: #2d2c38;
  }
}

@media (min-width: 992px) {
  [data-theme="dark"] #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(45, 45, 45, .1);
    background-color: #2d2c38;
  }
}

[data-theme="dark"] .modal-content {
  background-color: rgb(var(--bs-dark-rgb));
}

[data-theme="dark"] .channelMention {
  color: rgb(201,205,251);
  background-color: rgba(88,101,242,0.3);
}

