table {
  /*border: 1px solid #ccc;*/
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  /*background-color: #f8f8f8;*/
  /*border: 1px solid #ddd;*/
  padding: .35em;
}

table th, table td {
  padding: .625em;
  text-align: center;
  vertical-align: middle;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
}

@media screen and (max-width: 600px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media screen and (max-width: 600px) {
  table tr {
    /*border-bottom: 3px solid #ddd;*/
    display: block;
    margin-bottom: .625em;
  }
}

@media screen and (max-width: 600px) {
  table td {
    /*border-bottom: 1px solid #ddd;*/
    display: block;
    font-size: .8em;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 600px) {
  table td:last-child {
    border-bottom: 0;
  }
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

